<div class="row">
  <div class="col-md-10 mb-3">
    <form [formGroup]="productForm">
      <div class="mb-3">
        <label for="englishName" class="form-label">Name (English)</label>
        <input type="text" class="form-control" id="englishName" formControlName="nameContentEng">
      </div>

      <div class="mb-3">
        <label for="vieName" class="form-label">Name (Vie)</label>
        <input type="text" class="form-control" id="vieName" formControlName="nameContentVie">
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select (change)="onChange($event)" class="form-select" aria-label="Default select example" id="category"
          formControlName="categoryId">
          <option *ngFor="let category of categoryType" [value]="category.id">{{category.name.contentVie}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="brand" class="form-label">Brand</label>
        <select class="form-select" aria-label="Default select example" id="brand" formControlName="brandId" [disabled]="true">
          <option *ngFor="let item of brands" [value]="item.id">{{item.name?.contentVie}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="descriptionEng" class="form-label">Description (Eng)</label>
        <textarea class="form-control" placeholder="Enter here" id="descriptionEng" formControlName="descriptionEng"
          style="height: 100px"></textarea>
      </div>
      <div class="mb-3">
        <label for="descriptionVie" class="form-label">Description (Vie)</label>
        <textarea class="form-control" placeholder="Enter here" id="descriptionVie" formControlName="descriptionVie"
          style="height: 100px"></textarea>
      </div>
      <div class="mb-3">
        <label for="model" class="form-label">Model</label>
        <input type="text" class="form-control" id="model" formControlName="model">
      </div>
      <div class="mb-3">
        <label for="contact" class="form-label">Contact</label>
        <input type="email" class="form-control" id="contact" formControlName="contact">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" formControlName="price">
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="amount" formControlName="amount">
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Type</label>
        <select class="form-select" aria-label="Default select example" id="category" formControlName="type">
          <option *ngFor="let item of productType" [value]="item">{{item == 'VEHICLE' ? 'Vehicle' : 'Spare Parts'}}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="isHot" id="isHot">
          <label class="form-check-label" for="isHot">
            Hot Product
          </label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="isDiscount" id="isDiscount">
          <label class="form-check-label" for="isDiscount">
            Discount Product
          </label>
        </div>
      </div>

      <div class="mb-3">
        <input #inputFiles class="form-control" type="file" name="" id="" multiple (change)="onFileSelected($event)">
      </div>
      <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit <c-spinner
          size="sm"></c-spinner></button>
    </form>
  </div>
</div>

<c-toaster [placement]="positionStatic">
  <c-toast [autohide]="autoHide" [fade]="fade" [visible]="isShowToast.success" [color]="toastColors.success">
    <c-toast-header>Toast title</c-toast-header>
    <c-toast-body>Successfully</c-toast-body>
  </c-toast>
</c-toaster>

<c-toaster [placement]="positionStatic">
  <c-toast [autohide]="autoHide" [fade]="fade" [visible]="isShowToast.error" [color]="toastColors.error">
    <c-toast-header>Toast title</c-toast-header>
    <c-toast-body>Error</c-toast-body>
  </c-toast>
</c-toaster>