<div class="row">
  <h3>THÔNG TIN GIỎ HÀNG</h3>
</div>
<div class="product-list mt-3">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-image table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">THÔNG TIN SẢN PHẨM</th>
            <th scope="col">MÔ TẢ</th>
            <th scope="col">XOÁ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartProducts">
            <td>
              <div class="d-flex">
                <div class="product-table-img">
                  <img [src]="product?.image" class="img-fluid img-thumbnail" [alt]="product.name"
                    onerror="this.src='/assets/images/img-error.jpg';">
                </div>
                <div class="product-table-text ms-5">
                  <p><b>{{product.model | uppercase}}</b></p>
                  <p>{{product.name | uppercase}}</p>
                  <p>{{product.category?.name | uppercase}}</p>
                </div>
              </div>
            </td>
            <td>
              {{product.description}}
            </td>

            <td class="align-middle text-center">
              <fa-icon class="action-row-icon btn-delete" (click)="removeItem(product.id)"
                [icon]="faIcon.faTrash"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row order-form d-flex justify-content-center">
  <div class="col-md-6 col-sm-12">
    <div class="mb-3">
      <label for="userEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="userEmail" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Số Điện Thoại</label>
      <input type="number" class="form-control" id="phoneNumber">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Lời Nhắn</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
</div>