.nav-product-preview {
    background: #080b8f;
    height: 50px;

    h3 {
        color: white;
    }
}

.product {
    .product-item {
        cursor: pointer;

        img {
            object-fit: cover;
        }

        .product-item-title {
            font-size: 1rem;
            font-weight: 600;
            background: #c7c7c7;
            max-width: 200px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .product-item-count {
            font-size: 1rem;
            font-weight: bold;
            background: #afafaf;
        }
    }
}

.product-list {
    .table-image {
        th {
            vertical-align: middle;
            text-align: center;
        }

        .img-thumbnail {
            height: 120px;
            width: 180px;
            object-fit: cover;
        }

    }

    .product-table-text {
        p {
            font-size: 1rem;
        }

    }

    .btn-order {
        font-size: 1rem;
        cursor: pointer;
        color: green;
        border: 1px solid #a7a7a7;
    }

    .btn-order:hover {
        background: green;
        color: white;
    }

    .btn-delete {
        color: red;
        font-size: 1.5rem;
        cursor: pointer;
    }
}