<p-toast />
<div class="row mx-4">
  <h3 class="px-0">{{'CART INFORMATION' | translate }}</h3>
</div>
<div class="product-list mt-3">
  <div class="row mx-4">
    <div class="col-md-12 px-0">
      <table class="table table-image table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">{{'PRODUCT INFORMATION' | translate }}</th>
            <th scope="col">{{'Description' | translate | uppercase}}</th>
            <th scope="col">{{'DELETE' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartProducts">
            <td>
              <div class="d-flex">
                <div class="product-table-img">
                  <img [src]="product?.image" class="img-fluid img-thumbnail" [alt]="product.name"
                    onerror="this.src='/assets/images/img-error.jpg';">
                </div>
                <div class="product-table-text ms-5">
                  <p><b>{{product.model | uppercase}}</b></p>
                  <p>{{product.name | uppercase}}</p>
                  <p>{{product.category?.name | uppercase}}</p>
                </div>
              </div>
            </td>
            <td>
              {{product.description}}
            </td>
            <td class="align-middle text-center">
              <fa-icon class="action-row-icon btn-delete" (click)="removeItem(product.id)"
                [icon]="faIcon.faTrash"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row order-form d-flex justify-content-center mb-3 mx-4" *ngIf="cartProducts.length">
  <div class="col-md-6 col-sm-12">
    <form [formGroup]="orderForm">
      <div class="mb-3">
        <label for="userName" class="form-label">{{'Name' | translate }}</label>
        <input type="text" class="form-control" id="userName" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="userEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" formControlName="email">
      </div>

      <div class="mb-3">
        <label for="phoneNumber" class="form-label">{{'Phone Number' | translate}}</label>
        <input type="text" class="form-control" id="phoneNumber" aria-describedby="emailHelp"
          formControlName="phoneNumber">
      </div>

      <div class="mb-3">
        <label for="textContent" class="form-label">{{'Message' | translate}}</label>
        <textarea class="form-control" id="textContent" rows="3" formControlName="textContent"></textarea>
      </div>

      <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="orderForm.invalid">{{'Send' | translate}}</button>
    </form>
  </div>
</div>