h4 {
    margin: 2rem 0rem 1rem;
}

.order-data {
    margin-bottom: 5rem;

    .table-image {

        td,
        th {
            vertical-align: middle;
        }

        .img-thumbnail {
            height: 120px;
            width: 180px;
            object-fit: cover;
        }

        .action-row {

            .edit,
            .delete {
                font-size: 1.5rem;
                cursor: pointer;
            }

            .delete {
                color: red;
            }
        }
    }

}


.btn-delete {
    color: white;
}

.select-status {
    padding-right: 7rem;
}


.paginator {
    bottom: 0;
    width: 100%;
    left: 0;
}
