<div class="row mb-3">
  <div class="col-md-3 col-sm-12 d-flex justify-content-between align-items-center">
    <label for="startDate" class="font-bold block"> Start Date </label>
    <p-calendar [showIcon]="true" inputId="startDate" [(ngModel)]="startDate" dateFormat="mm/dd/yy"
      [iconDisplay]="'input'" />
  </div>
  <div class="col-md-3 d-flex justify-content-between align-items-center">
    <label for="endDate" class="font-bold block">End Date</label>
    <p-calendar [showIcon]="true" [(ngModel)]="endDate" inputId="endDate" dateFormat="mm/dd/yy"
      [iconDisplay]="'input'" />
  </div>
  <div class="col-md-3 d-flex justify-content-between align-items-center">
    <label for="keyword" class="font-bold block">Order Name</label>
    <input type="text" id="keyword" pInputText [(ngModel)]="orderRequest.keyword" />
  </div>
  <div class="col-md-3 d-flex justify-content-between align-items-center pe-3">
    <label for="status" class="font-bold block">Status</label>
    <p-dropdown [options]="statusList" [(ngModel)]="selectStatus" optionLabel="label" placeholder="Select Status" />
    <button class="btn btn-primary h-100" (click)="search()">Search</button>
  </div>
</div>

<div class="col-md-12  order-data">
  <table class="table table-image table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Created Date</th>
        <th scope="col">Phone</th>
        <th scope="col">Message</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" (click)="toggleEditModal($event,order.id)">
        <td>{{order.name}}</td>
        <td>{{order.email}}</td>
        <td>{{order.createdDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{order.phoneNumber}}</td>
        <td>
          <p class="ellipsis">{{order.note}}</p>
        </td>
        <td>{{order.status}}</td>
        <td>
          <div class="action-row">
            <fa-icon class="action-row-icon edit me-5" [icon]="faIcon.faEdit"
              (click)="toggleEditModal($event,order?.id)"></fa-icon>
            <fa-icon class="action-row-icon delete" [icon]="faIcon.faDelete"
              (click)="toggleDelete($event,order.id)"></fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row position-absolute paginator">
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalItems"
    [rowsPerPageOptions]="pageOptions" />
</div>

<div class="card flex justify-content-center">
  <p-dialog header="Edit" [modal]="true" [(visible)]="visibleForm.edit"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '30rem' }" [maximizable]="true">
    <div class="row mb-3">
      <div class="col">
        <label for="userName">Name</label>
        <input class="form-control" type="text" id="userName" [value]="currentOrder?.name" aria-label="readonly input"
          readonly>
      </div>

    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" [value]="currentOrder?.email" aria-label="readonly input"
          readonly>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="createdDate">Date</label>
        <input class="form-control" type="text" id="createdDate" [value]="currentOrder?.createdDate"
          aria-label="readonly input" readonly>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="phoneNumber">Phone Number</label>
        <input class="form-control" type="text" id="phoneNumber" [value]="currentOrder?.name"
          aria-label="readonly input" readonly>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="message">Message</label>
        <input class="form-control" type="text" id="message" [value]="currentOrder?.note" aria-label="readonly input"
          readonly>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="status">Status</label>
        <select class="form-select" aria-label="Default select example"  [(ngModel)]="currentStatus">
          <option selected *ngFor="let item of statusList" [value]="item.value">{{item.label}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col d-flex justify-content-end">
        <button class="btn btn-primary me-3" (click)="handleEdit()">Save</button>
        <button class="btn btn-outline-secondary" (click)="visibleForm.edit = false">Cancel</button>
      </div>
    </div>
    

  </p-dialog>
</div>