<p-toast />
<div class="row mb-3">
  <div class="col-md-3 col-sm-12 d-flex justify-content-between align-items-center">
    <label for="startDate" class="font-bold block"> Start Date </label>
    <p-calendar [showIcon]="true" inputId="startDate" [(ngModel)]="startDate" dateFormat="mm/dd/yy"
      [iconDisplay]="'input'" />
  </div>
  <div class="col-md-3 d-flex justify-content-between align-items-center">
    <label for="endDate" class="font-bold block">End Date</label>
    <p-calendar [showIcon]="true" [(ngModel)]="endDate" inputId="endDate" dateFormat="mm/dd/yy"
      [iconDisplay]="'input'" />
  </div>
  <div class="col-md-3 d-flex justify-content-between align-items-center">
    <label for="keyword" class="font-bold block">Order Name</label>
    <input type="text" id="keyword" pInputText [(ngModel)]="orderRequest.keyword" />
  </div>
  <div class="col-md-3 d-flex justify-content-between align-items-center pe-3">
    <label for="status" class="font-bold block">Status</label>
    <p-dropdown [style]="{width: '180px'}" [options]="statusList" [(ngModel)]="selectStatus" optionLabel="label"
      placeholder="Select Status" />
    <button class="btn btn-primary h-100" (click)="search()">Search</button>
  </div>
</div>

<div class="col-md-12  order-data">
  <table class="table table-image table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Created Date</th>
        <th scope="col">Phone</th>
        <th scope="col">Message</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" >
        <td>{{order.name}}</td>
        <td>{{order.email}}</td>
        <td>{{order.createdDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{order.phoneNumber}}</td>
        <td>
          <p class="ellipsis">{{order.note}}</p>
        </td>
        <td [style.background]="checkStatusColor(order.status)">{{order.status}}</td>
        <td>
          <div class="action-row">
            <fa-icon class="action-row-icon edit me-5" [icon]="faIcon.faEdit"
              (click)="toggleEditModal(order?.id)"></fa-icon>
            <fa-icon class="action-row-icon delete" [icon]="faIcon.faDelete"
              (click)="toggleDelete($event,order.id)"></fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row position-absolute paginator">
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalItems"
    [rowsPerPageOptions]="pageOptions" />
</div>

<div class="card flex justify-content-center">
  <p-dialog header="Edit" [modal]="true" [(visible)]="visibleForm.edit"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50rem' }" [maximizable]="true">
    <div class="row mb-3">
      <div class="col">
        <label for="userName"><b>Name</b></label>
        <input class="form-control" type="text" id="userName" [value]="currentOrder?.name" aria-label="readonly input"
          readonly>
      </div>

    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="email"><b>Email</b></label>
        <input class="form-control" type="email" id="email" [value]="currentOrder?.email" aria-label="readonly input"
          readonly>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for=""><b>Order</b></label>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Thumbnail</th>
              <th scope="col">Information</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentOrder.orderDetails">
              <td>
                <img class="thumbnail-item" [src]="item.product.image" class="rounded float-start" width="150px" height="150px">
              </td>
              <td colspan="2" class="ellipsis"><p>{{item.product.name?.contentVie}}</p></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="createdDate"><b>Date</b></label>
        <input class="form-control" type="text" id="createdDate"
          [value]="currentOrder?.createdDate | date: 'dd/MM/yyyy'" aria-label="readonly input" readonly>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="phoneNumber"><b>Phone Number</b></label>
        <input class="form-control" type="text" id="phoneNumber" [value]="currentOrder?.name"
          aria-label="readonly input" readonly>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="message"><b>Message</b></label>
        <input class="form-control" type="text" id="message" [value]="currentOrder?.note" aria-label="readonly input"
          readonly>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="status"><b>Status</b></label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="currentStatus">
          <option selected *ngFor="let item of statusList.slice(1)" [value]="item.value">{{item.label}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col d-flex justify-content-end">
        <button class="btn btn-primary me-3" (click)="handleEdit()">Save</button>
        <button class="btn btn-outline-secondary" (click)="visibleForm.edit = false">Cancel</button>
      </div>
    </div>


  </p-dialog>
</div>