.img-item-main {
    height: 500px;
    object-fit: contain;
}

.img-item-thumbnails {
    width: 100px;
}

.product-detail-text{
    h4{
        background: #cdcdcd;
    }
    p{
        font-size: 1.25rem;
    }
}