.img-item-main {
    height: 500px;
    object-fit: contain;
    background: white;
}

.img-item-thumbnails {
    width: 100px;
}

.product-detail-text {
    p {
        font-size: 1.25rem;
    }

    .phone-number {
        color: #080b8f;
    }
}

.detail-title {
    .product-name {
        color: #080b8f;
    }
}

:host {
    ::ng-deep {
        .p-galleria .p-galleria-thumbnail-container {
            background: white;
        }
    }
}