.img-item-main {
    height: 500px;
    object-fit: cover;
}

.img-item-thumbnails {
    width: 100px;
}

.product-detail-text{
    // h4{
    //     background: #cdcdcd;
    // }
    p{
        font-size: 1.25rem;
    }
}

.detail-title {
    .product-name {
        color: #080b8f;
    }
}