<div class="parking-lot mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="parking-lot-information position-relative">
        <c-spinner color="primary" class="position-absolute spinner-item"
          [style.display]="isShowSpinner ? 'block' : 'none'"></c-spinner>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15304.948042360935!2d107.5935838!3d16.4635323!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a13e984a1761%3A0x3d6f0bf7cccab36e!2zSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1719465056093!5m2!1svi!2s"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex align-items-center mb-3">
      <div class="circle me-3"><fa-icon [icon]="faParking"></fa-icon></div>
      <p class="me-3"><b>Bãi xe</b></p>
      <p>72 Xa lộ Hà Nội, Ấp Ngãi Thắng, Xã Bình Thắng, Thành Phố Dĩ An, Tỉnh Bình Dương</p>
    </div>
  </div>
</div>