<div class="col-md-12">
  <table class="table table-image table-product">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">English Name</th>
        <th scope="col">Vietnamese Name</th>
        <th scope="col">English Description</th>
        <th scope="col">Vietnamese Description</th>
        <th scope="col">Model</th>
        <th scope="col">Amount</th>
        <th scope="col">Price</th>
        <th scope="col">Type</th>
        <th scope="col">Contact</th>

        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td class="">
          <img [src]="product?.image" class="img-fluid img-thumbnail" [alt]="product.name.contentEng"
            onerror="this.src='/assets/images/img-error.jpg';">
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.name?.contentEng}}">{{product.name?.contentEng}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.name?.contentVie}}">{{product.name?.contentVie}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.description?.contentEng}}">{{product.description?.contentEng}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.description?.contentVie}}">{{product.description?.contentVie}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.model}}">{{product.model}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.amount}}">{{product.amount}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.price}}">{{product.price}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.type}}">{{product.type}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.contact}}">{{product.contact}}</p>
        </td>
        <td>
          <div class="action-row">
            <fa-icon class="action-row-icon edit me-5" [icon]="faEdit" (click)="toggleEditModal(product?.id)"></fa-icon>
            <fa-icon class="action-row-icon delete" [icon]="faDelete" (click)="toggleDelete(product.id)"></fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>