<div class="row mb-3">
  <div class="col-md-5 col-sm-12 d-flex align-items-center">
    <label for="keyword" class="font-bold block me-3">Product Name</label>
    <input class="me-5" type="text" id="keyword" pInputText [(ngModel)]="productRequest.keyword" />
    <button class="btn btn-primary h-100" (click)="search()">Search</button>
  </div>
</div>
<div class="col-md-12 overflow-x-scroll product-data">
  <table class="table table-image table-product table-hover">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Vietnamese Name</th>
        <th scope="col">Vietnamese Description</th>
        <th scope="col">Model</th>
        <th scope="col">Amount</th>
        <th scope="col">Price</th>
        <th scope="col">Type</th>
        <th scope="col">Hot Product</th>
        <th scope="col">Discount</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td class="">
          <img [src]="product?.image" class="img-fluid img-thumbnail" [alt]="product.name.contentEng"
            onerror="this.src='/assets/images/img-error.jpg';">
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.name?.contentVie}}">{{product.name?.contentVie}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.description?.contentVie}}">{{product.description?.contentVie}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.model}}">{{product.model}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.amount}}">{{product.amount}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.price}}">{{product.price}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.type}}">{{product.type}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.type}}">{{product.isHot ? "Hot" : "Normal"}}</p>
        </td>
        <td>
          <p class="ellipsis" cTooltip="{{product.type}}">{{product.isDiscount}}</p>
        </td>
        <td>
          <div class="action-row pe-2">
            <fa-icon class="action-row-icon edit me-3" [icon]="faEdit" (click)="toggleEditModal(product?.id)"></fa-icon>
            <fa-icon class="action-row-icon delete" [icon]="faDelete" (click)="toggleDelete(product.id)"></fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div class="row position-absolute paginator">
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalItems"
    [rowsPerPageOptions]="pageOptions" />
</div>

<c-modal id="liveDemoModal" [visible]="visibleForm.edit" alignment="center" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Edit</h5>
  </c-modal-header>
  <c-modal-body>
    <div class="col-md-12">
      <div class="row">
        <form [formGroup]="productEditForm" (ngSubmit)="submitForm()">
          <div class="form-group mb-2">
            <label for="nameContentEng">Name (English)</label>
            <input type="text" class="form-control" id="nameContentEng" placeholder="Enter name"
              formControlName="nameContentEng">
          </div>
          <div class="form-group mb-2">
            <label for="nameContentVie">Name (Vie)</label>
            <input type="text" class="form-control" id="nameContentVie" placeholder="Enter name"
              formControlName="nameContentVie">
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" formControlName="categoryId">
              <option *ngFor="let category of categoryType" [value]="category.id">{{category.name.contentVie}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <select class="form-select" aria-label="Default select example" id="brand" formControlName="brandId"
              [disabled]="true">
              <option *ngFor="let item of brands" [value]="item.id">{{item.name?.contentVie}}</option>
            </select>
          </div>

          <div class="form-group mb-2">
            <label for="descriptionEng">Description (Vie)</label>
            <input type="text" class="form-control" id="descriptionEng" placeholder="Enter here"
              formControlName="descriptionEng">
          </div>

          <div class="form-group mb-2">
            <label for="descriptionVie">Description (Vie)</label>
            <input type="text" class="form-control" id="descriptionVie" placeholder="Enter here"
              formControlName="descriptionVie">
          </div>

          <div class="form-group mb-2">
            <label for="model">Model</label>
            <input type="text" class="form-control" id="model" placeholder="Enter here" formControlName="model">
          </div>

          <div class="form-group mb-2">
            <label for="contact">Contact</label>
            <input type="text" class="form-control" id="contact" placeholder="Enter here" formControlName="contact">
          </div>

          <div class="form-group mb-2">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" formControlName="price">
          </div>

          <div class="form-group mb-2">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" placeholder="Enter here" formControlName="amount">
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">Type</label>
            <select class="form-select" aria-label="Default select example" id="category" formControlName="type">
              <option *ngFor="let item of productType" [value]="item">{{item == 'VEHICLE' ? 'Vehicle' : 'Spare Parts'}}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="isHot" id="isHot">
              <label class="form-check-label" for="isHot">
                Hot Product
              </label>
            </div>
          </div>

          <div class="mb-3">
            <label for="discount" class="form-label">Discount</label>
            <input type="number" class="form-control" id="discount" formControlName="discount">
          </div>

          <div class="form-group mb-2">
            <label for="">Thumbnails</label>
            <div class="thumbnails">
              <div *ngFor="let img of currentImgs" class="thumbnails-block">
                <fa-icon class="btn-delete-img" [icon]="faClose" (click)="toggleDeleteGallery(img)"></fa-icon>
                <img [src]="img" class="me-3 rounded float-start thumbnails-item" alt="...">
              </div>
            </div>
          </div>

          <div class="form-group mb-2">
            <input #inputFiles class="form-control" type="file" name="" id="" multiple
              (change)="onFileSelected($event)">
          </div>
        </form>
      </div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleEditModal()" cButton class="btn btn-secondary">
      Close
    </button>
    <button cButton class="btn btn-primary" (click)="submitForm()" [disabled]="!productEditForm.valid">Save</button>
  </c-modal-footer>
</c-modal>

<c-modal id="liveDemoModal" [visible]="visibleForm.delete" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>Delete</h5>
  </c-modal-header>
  <c-modal-body>
    <div class="row">
      <div class="col-md-12">Are you sure you want to delete ?</div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleDelete()" cButton class="btn">Cancel</button>
    <button cButton class="btn btn-danger btn-delete" (click)="handleDelete()">Delete</button>
  </c-modal-footer>
</c-modal>


<c-modal id="liveDemoModal" [visible]="visibleForm.gallery" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>Delete this image?</h5>
  </c-modal-header>
  <c-modal-body>
    <div class="row">
      <div class="col-md-12">Are you sure you want to delete ?</div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleDeleteGallery()" cButton class="btn">Cancel</button>
    <button cButton class="btn btn-danger btn-delete" (click)="handleDeleteGallery()">Delete</button>
  </c-modal-footer>
</c-modal>