table.table-product {
    tr:first-child {}
}


h4 {
    margin: 2rem 0rem 1rem;
}

.product-data {
    margin-bottom: 5rem;
}

.table-image {

    td,
    th {
        vertical-align: middle;
    }

    .img-thumbnail {
        height: 120px;
        width: 180px;
        min-width: 180px;
        object-fit: cover;
    }

    .action-row {
        display: flex;

        .edit,
        .delete {
            font-size: 1.5rem;
            cursor: pointer;
        }

        .delete {
            color: red;
        }
    }
}

.btn-delete {
    color: white;
}

.thumbnails {
    overflow-x: auto;
    display: flex;

    .thumbnails-block {
        position: relative;

        .btn-delete-img {
            position: absolute;
            right: 1.5rem;
            top: 0;
            cursor: pointer;
        }
        .btn-delete-img:hover {
            font-size: 1.25rem;
        }
    }

    .thumbnails-item {
        width: 140px;
        height: 120px;
        object-fit: cover;
        border: 1px solid #bdbdbd;

    }
}

.paginator{
    bottom: 0;
    width: 100%;
    left: 0;
}