<p-toast />
<div class="row">
  <div class="col-md-6 col-sm-12">
    <form [formGroup]="brandForm">
      <div class="mb-3">
        <label for="vieName" class="form-label">Name (Viet)</label>
        <input type="text" class="form-control" id="vieName" formControlName="contentVie">
      </div>
      <div class="mb-3">
        <label for="englishName" class="form-label">Name (English)</label>
        <input type="text" class="form-control" id="englishName" formControlName="contentEng">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="brandForm.invalid" (click)="createBrand()">Submit
        <c-spinner *ngIf="isLoading" size="sm"></c-spinner></button>
    </form>
  </div>
</div>