.nav-product-preview {
    background: #080b8f;
    height: 50px;

    h3 {
        color: white;
    }
}

.product {
    .product-item {
        img {
            object-fit: contain;
        }

        .product-item-title {
            font-size: 1.25rem;
            font-weight: 600;
            background: #c7c7c7;
        }
    }
}