<div class="row mx-4 mb-3">
  <c-carousel [interval]="0" class="carousel w-100 p-0">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img [src]="slide.src" alt="{{ slide.title }}" class="d-block" loading="lazy" />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
</div>
<div class="row mx-4 mb-3 product-list">
  <h3 class="text-center brand-title">SẢN PHẨM NỔI BẬT</h3>
  <div class="col-md-3 px-0 mt-3" *ngFor="let item of products">
    <p-card class="hot-product" [header]="item.name" [subheader]="item.model" [style]="{ width: '430px', height: '460px'}">
      <ng-template pTemplate="header">
        <img class="card-img" height="230px" [alt]="item.name" [src]="item.image"
          onerror="this.src='/assets/images/img-error.jpg';" />
      </ng-template>
      <p class="card-content-text">
        {{item.description}}
      </p>
    </p-card>
  </div>
</div>
<div class="row d-flex justify-content-center mx-0 mb-3 ">
  <button class="btn btn-outline-secondary btn-more " (click)=redirectToProducts()>
    Xem Tất Cả Sản Phẩm
  </button>
</div>