<div class="bg-main">
  <img src="/assets/images/main-bg2.jpg" alt="" class="w-100">
</div>
<div class="nav-product-preview d-flex justify-content-center align-items-center mb-3">
  <h3 class="text-center m-0">DANH MỤC SẢN PHẨM</h3>
</div>
<div class="product d-flex mb-3 flex-wrap">
  <div class="product-item me-3 mb-3" *ngFor="let item of categorys">
    <img [src]="item.image" alt="" width="200" height="100">
    <p class="product-item-title text-center">{{item.name | uppercase }}</p>
    <p class="product-item-count text-center">{{item.productCount}} SẢN PHẨM</p>
  </div>
</div>