<div class="row mx-4 mb-3">
  <c-carousel [interval]="0" class="carousel w-100 p-0">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img [src]="slide.src" alt="{{ slide.title }}" class="d-block" loading="lazy" />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
</div>
<div class="row mx-4 mb-3 product-list" *ngFor="let item of productsByBrands">
  <h3 class="text-center brand-title">{{item.name}}</h3>
  <div class="col-md-3 px-0">
    <p-card [header]="product.name" [subheader]="product.model" [style]="{ width: '360px' }"
      *ngFor="let product of item.products">
      <ng-template pTemplate="header">
        <img class="card-img" height="230px" [alt]="product.name" [src]="product.image"
          onerror="this.src='/assets/images/img-error.jpg';" />
      </ng-template>
      <p class="card-content-text">
        {{product.description}}
      </p>
    </p-card>
  </div>
</div>