<div class="row footer z-3">
    <div class="container">
        <div class="container p-0 d-flex">
            <div class="col-md-6 col-sm-12 d-flex align-items-center flex-column">
                <p>Hotline</p>
                <p class="phone-number"><a href="tel:0935099099">Mr.Độ: 0935099099</a></p>
                <p class="phone-number"><a href="tel:0977527683">Mr.Đức: 0977527683</a></p>
            </div>
            <div class="col-md-6 col-sm-12 d-flex align-items-center flex-column">
                <p>Tư vấn khách hàng</p>
                <p class="phone-number"><a href="tel:0977527683">Mr.Độ: 0935099099</a></p>
                <p class="phone-number"><a href="tel:0935099099">Mr.Huy: 0964076809</a> </p>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="container p-0">
            <div class="footer-detail d-flex justify-content-between">
                <div class="footer-address">
                    <p class="m-0 mt-3">72 Xa lộ Hà Nội, Ấp Ngãi Thắng, Xã Bình Thắng, Thành Phố Dĩ An, Tỉnh Bình Dương
                    </p>
                    <p class="m-0">Cơ Giới Vĩnh Hưng ,Ấp Ngãi Thắng, Xã Bình Thắng, Thành Phố Dĩ An Tỉnh Bình Dương</p>
                </div>
                <div class="logo-footer mt-3">
                    <img src="/assets/images/ducanh-logo.png" width="50" class="rounded mx-auto d-block"
                        alt="Cogioiducanh">
                </div>
            </div>
        </div>
    </div>
</div>