<div class="row footer z-3">
    <div class="container">
        <div class="container p-0 ">
            <div class="row d-flex">
                <div class="col-md-4 col-sm-12 d-flex align-items-center flex-column">
                    <p>Hotline</p>
                    <p class="phone-number"><a href="tel:0935099099">Mr.Độ: 0935099099</a></p>
                    <p class="phone-number"><a href="tel:0977527683">Mr.Đức: 0977527683</a></p>
                </div>
                <div class="col-md-4 col-sm-12 d-flex align-items-center flex-column">
                    <p>Tư vấn khách hàng</p>
                    <p class="phone-number"><a href="tel:0977527683">Mr.Độ: 0935099099</a></p>
                    <p class="phone-number"><a href="tel:0935099099">Mr.Huy: 0964076809</a> </p>
                </div>
                <div class="col-md-4 col-sm-12 d-flex align-items-center flex-column">
                    <p>Email</p>
                    <p class="phone-number"><b>{{email}}</b></p>
                </div>
            </div>

        </div>
    </div>
    <div class="container mt-3">
        <div class="container p-0">
            <div class="footer-detail d-flex justify-content-between align-items-center">
                <div class="footer-address">
                    <p class="m-0 mt-3">CƠ GIỚI ĐỨC ANH - TẬN TÂM VỚI KHÁCH HÀNG</p>
                </div>
                <div class="logo-footer mt-3">
                    <img src="/assets/images/ducanh-logo.png" width="50" class="rounded mx-auto d-block"
                        alt="Cogioiducanh">
                </div>
            </div>
        </div>
    </div>
</div>