<div class="row footer">
    <div class="container">
        <div class="container p-0 d-flex">
            <div class="col-md-6 col-sm-12 d-flex align-items-center flex-column">
                <p>Hotline</p>
                <p class="phone-number"><a href="tel:0977527683"></a>0977527683 </p>
                <p class="phone-number"><a href="tel:0935099099"></a>0935099099 </p>
            </div>
            <div class="col-md-6 col-sm-12 d-flex align-items-center flex-column">
                <p>Tư vấn dịch vụ</p>
                <p class="phone-number"><a href="tel:0977527683"></a>0977527683 </p>
                <p class="phone-number"><a href="tel:0935099099"></a>0935099099 </p>
            </div>
            <!-- <div class="col-md-4 col-sm-12 d-flex align-items-center flex-column">
                <p>Tư vấn phụ tùng</p>
                <p class="phone-number"><a href="tel:0903900294"></a>0903900294</p>
            </div> -->
        </div>
    </div>
    <div class="container mt-3">
        <div class="container p-0">
            <div class="footer-detail d-flex justify-content-between">
                <div class="footer-address">
                    <p class="m-0 mt-3">72 Xa lộ Hà Nội, Ấp Ngãi Thắng, Xã Bình Thắng, Thành Phố Dĩ An, Tỉnh Bình Dương
                    </p>
                    <p class="m-0">Cơ Giới Vĩnh Hưng ,Ấp Ngãi Thắng, Xã Bình Thắng, Thành Phố Dĩ An Tỉnh Bình Dương</p>
                </div>
                <div class="logo-footer mt-3">
                    <img src="/assets/images/ducanh-logo.png" width="50" class="rounded mx-auto d-block"
                        alt="Cogioiducanh">
                </div>
            </div>
        </div>
    </div>
</div>