.footer {
    background: #080b8f;
    p {
        color: white;
    }

    .phone-number {
        font-weight: bold;
    }
}

.footer-detail {
    border-top: 1px solid white;

    .footer-address {}

    .logo-footer {
        background: white;
        border-radius: 50%;
        width: 50px;
        height: 52px;
    }
}