<p-toast />
<div class="col-md-12">
  <table class="table table-image table-hover">
    <thead>
      <tr>
        <th scope="col">English Name</th>
        <th scope="col">Vietnamese Name</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <td>{{brand.name?.contentEng}}</td>
        <td>{{brand.name?.contentVie}}</td>
        <td>{{brand.category.name.contentVie}}</td>
        <td>
          <div class="action-row">
            <fa-icon class="action-row-icon edit me-5" [icon]="faEdit"
              (click)="toggleEditModal(brand?.id)"
              >
            </fa-icon>
            <fa-icon class="action-row-icon delete" [icon]="faDelete" (click)="toggleDelete(brand.id)"></fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<c-modal id="liveDemoModal" [visible]="visibleForm.edit" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>Edit</h5>
  </c-modal-header>
  <c-modal-body>
    <div class="col-md-6">
      <div class="row">
        <form [formGroup]="brandFormEdit">
          <div class="mb-3">
            <label for="vieName" class="form-label">Name (Viet)</label>
            <input type="text" class="form-control" id="vieName" formControlName="contentVie">
          </div>
          <div class="mb-3">
            <label for="englishName" class="form-label">Name (English)</label>
            <input type="text" class="form-control" id="englishName" formControlName="contentEng">
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" aria-label="Default select example" id="category" formControlName="categoryId">
              <option *ngFor="let category of categoryList" [value]="category.id">{{category.name.contentVie}}</option>
            </select>
          </div>
         
        </form>
      </div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleEditModal()" cButton class="btn btn-secondary">
      Close
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="brandFormEdit.invalid" (click)="handleClickEdit()">Submit
      <c-spinner *ngIf="isLoading" size="sm"></c-spinner></button>
  </c-modal-footer>
</c-modal>

<c-modal id="liveDemoModal" [visible]="visibleForm.delete" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>Delete</h5>
  </c-modal-header>
  <c-modal-body>
    <div class="row">
      <div class="col-md-12">Are you sure you want to delete ?</div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleDelete()" cButton class="btn">Cancel</button>
    <button cButton class="btn btn-danger btn-delete" (click)="handleClickDelete()" >Delete</button>
  </c-modal-footer>
</c-modal>