<div class="col-md-12">
  <table class="table table-image table-hover">
    <thead>
      <tr>
        <th scope="col">English Name</th>
        <th scope="col">Vietnamese Name</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <td>{{brand.name?.contentEng}}</td>
        <td>{{brand.name?.contentVie}}</td>
        <td>{{brand.category.name.contentVie}}</td>
        <td>
          <div class="action-row">
            <fa-icon class="action-row-icon edit me-5" [icon]="faEdit"
              (click)="toggleEditModal(brand?.id)"
              >
            </fa-icon>
            <fa-icon class="action-row-icon delete" [icon]="faDelete" (click)="toggleDelete(brand.id)"></fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>