<p-toast />
<div class="nav-product-preview d-flex justify-content-center align-items-center mb-3">
  <h3 class="text-center m-0">TẤT CẢ SẢN PHẨM</h3>
</div>
<div class="row m-0">
  <div class="col-md-3 sidebar-block ps-4">
    <app-sidebar-category [productType]="productType" (categoryIds)="emitCategoryIds($event)"></app-sidebar-category>
  </div>
  <div class="col-md-9">
    <div class="product-list pe-4">
      <div class="row">
        <div class="col-md-12 px-0">
          <div class="card mb-3" *ngFor="let product of products">
            <div class="row g-0 product-row">
              <div class="col-md-4">
                <img [src]="product.image" class="img-fluid rounded-start" alt="{{product.model}}"
                  (click)="redirectToDetail(product.id)">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><b>Tên sản phẩm</b>: {{product.name}}</h5>
                  <p class="card-text"><b>Model</b>: {{product.model}}</p>
                  <p class="card-text"><b>Mô tả</b>: {{product.description}}</p>
                  <p class="card-text"><b>Giá</b>: {{product.price}}</p>
                  <p class="card-text"><b>Liên hệ</b>: {{product.contact}}</p>
                </div>
                <div class="d-flex p-3">
                  <button class="btn-order position-absolute btn btn-outline-success" (click)="addToCart(product)">
                    <fa-icon class="action-row-icon edit me-3"
                      [icon]="faIcon.faCartPlus"></fa-icon><span>Order</span></button>
                  <button class="btn-detail position-absolute" (click)="redirectToDetail(product.id)">Xem Thêm</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3" *ngIf="products.length === 0">
            <h3 class="text-center" style="color: red;">Không có sản phẩm nào!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>