<div class="about-us">
  <div class="row mx-4">
    <h3 class="text-center mb-3 title">{{'CO GIOI DUC ANH' | translate | uppercase}} - {{'WE SERVE WITH DEDICATION' |
      translate | uppercase}}</h3>
    <div class="col-md-12 px-0 mb-3 carousel-block">
      <c-carousel class="carousel">
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides">
            <img [src]="slide.src" alt="{{slide.title}}" class="d-block w-100 carousel-item" loading="lazy" />
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel>
    </div>
  </div>
  <div class="row mx-4 information">
    <div class="d-flex align-items-center mb-3 ps-0">
      <div class="circle me-3"><fa-icon [icon]="faIcon.faAddressCard"></fa-icon></div>
      <p class="me-3"><b>{{'Garage' | translate}}</b></p>
      <p>13/9 Xa Lộ Hà Nội (Đối diện bến xe Miền Đông mới)</p>
    </div>
    <div class="d-flex align-items-center mb-3 ps-0">
      <div class="circle me-3"><fa-icon [icon]="faIcon.faPhone"></fa-icon></div>
      <p class="me-3"><b>{{'Phone Number' | translate}}</b></p>
      <p><a href="tel:0935099099">0935099099 </a> - <a href="tel:0977527683">0977527683 </a> </p>
    </div>
    <div class="d-flex align-items-center mb-3 ps-0">
      <div class="circle me-3"><fa-icon [icon]="faIcon.faPager"></fa-icon></div>
      <p class="me-3"><b>Webstite</b></p>
      <p><a href="">cogioiducanh.com</a></p>
    </div>
  </div>
  <div class="row mx-4 map mb-3 position-relative ps-0">
    <c-spinner color="primary" class="position-absolute spinner-item"
      [style.display]="isShowSpinner ? 'block' : 'none'"></c-spinner>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3918.07551439307!2d106.80968467954382!3d10.88186106161554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTDCsDUyJzU0LjciTiAxMDbCsDQ4JzUyLjQiRQ!5e0!3m2!1sen!2sus!4v1721811965603!5m2!1sen!2sus"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>