<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid px-0    ">
        <a href="">
            <div class="logo-block d-flex align-items-center">
                <a class="navbar-brand logo-img" href="#">
                    <img src="/assets/images/ducanh-logo.png" width="50" class="rounded mx-auto d-block"
                        alt="Cogioiducanh">
                </a>
                <div class="logo-text">
                    <p>CƠ GIỚI</p>
                    <p>ĐỨC ANH</p>
                </div>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">
                        TRANG CHỦ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/about-us">GIỚI THIỆU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/products">SẢN PHẨM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/product-accessary">PHỤ TÙNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/installment">TRẢ GÓP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/parking">VỊ TRÍ BÃI XE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/contact-us">LIÊN HỆ</a>
                </li>
            </ul>
            <a class="nav-link" routerLink="/dashboard/cart">
                <button type="button" class="ms-2 cart-badge btn btn-primary position-relative">
                    <fa-icon class="action-row-icon edit me-3" [icon]="faIcon.faCartPlus"></fa-icon>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{cartCount}}
                    </span>
                </button></a>

        </div>
    </div>
</nav>

<c-carousel [interval]="0">
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          [src]="slide.src"
          alt="{{slide.title}}"
          class="d-block w-100"
          loading="lazy"
        />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>