.logo-block {

    .logo-img {
        img {
            width: 4.5rem;
        }
    }

    .logo-text {
        font-size: 1.25rem;
        font-weight: 700;
        color: #080b8f;
    }
}

.nav-product-preview {
    background: #080b8f;
    height: 50px;

    h3 {
        color: white;
    }

}

.product {
    .product-item {
        img {
            object-fit: contain;
        }

        .product-item-title {
            font-size: 1.25rem;
            font-weight: 600;
            background: #c7c7c7;
        }
    }
}

.cart-badge {}

.navbar-nav {
    li {
        a {
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px 2px black
        }
    }
}

