<div class="front-header row mx-0 px-4 py-3 d-flex align-items-baseline">
    <div class="col-md-6 px-0"><b>Hotline</b>: <a href="tel:0935099099">0935099099 </a>-<a href="tel:0977527683">
            0977527683 </a> | <b>Email</b>: {{email}}</div>
    <div class="col-md-6 px-0">
        <div class="row d-flex align-items-center">
            <div class="col-6 d-flex">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm sản phẩm" (keydown.enter)="searchProduct()"
                        aria-label="Recipient's username" [(ngModel)]="keyword" aria-describedby="basic-addon2">
                    <span (click)="searchProduct()" class="input-group-text pe-0 btn-click-search" id="basic-addon2">
                        <fa-icon class="action-row-icon edit me-3" [icon]="faIcon.faSearch"></fa-icon></span>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-between">
                <div class="social-icon d-flex align-items-center">
                    <i class="fa-brands fa-facebook me-3"></i>
                    <i class="fa-brands fa-youtube me-3"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="language">
                    <span class="fi fi-vn"  data-bs-toggle="dropdown"
                    aria-expanded="false"></span>
                    <div class="dropdown">
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><span class="fi fi-gb me-3"></span>English</a></li>
                            <li><a class="dropdown-item" href="#"><span class="fi fi-vn me-3"></span>Tiếng Việt</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg z-3 mb-3">
    <div class="container-fluid mx-4 px-0">
        <a href="">
            <div class="logo-block d-flex align-items-center">
                <a class="navbar-brand logo-img" href="#">
                    <img src="/assets/images/ducanh-logo.png" width="50" class="rounded mx-auto d-block"
                        alt="Cogioiducanh">
                </a>
                <div class="logo-text">
                    <p>CƠ GIỚI</p>
                    <p>ĐỨC ANH</p>
                </div>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">
                        TRANG CHỦ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/about-us">GIỚI THIỆU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/products">SẢN PHẨM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/product-accessary">PHỤ TÙNG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/installment">TRẢ GÓP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/parking">VỊ TRÍ BÃI XE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/contact-us">LIÊN HỆ</a>
                </li>
            </ul>
            <a class="nav-link" routerLink="/dashboard/cart">
                <button type="button" class="ms-2 cart-badge btn btn-primary position-relative">
                    <fa-icon class="action-row-icon edit me-3" [icon]="faIcon.faCartPlus"></fa-icon>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{cartCount}}
                    </span>
                </button>
            </a>
        </div>
    </div>
</nav>