.front-header {
    border-bottom: 1px solid #d3d3d3;

    .fa-brands {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .btn-click-search {
        cursor: pointer;
    }
}

.logo-block {

    .logo-img {
        img {
            width: 4.5rem;
        }
    }

    .logo-text {
        font-size: 1rem;
        font-weight: 700;
        color: #080b8f;
    }
}

.nav-product-preview {
    background: #080b8f;
    height: 50px;

    h3 {
        color: white;
    }

}

.product {
    .product-item {
        img {
            object-fit: contain;
        }

        .product-item-title {
            font-size: 1rem;
            font-weight: 600;
            background: #c7c7c7;
        }
    }
}

.navbar-nav {
    li {
        a {
            font-weight: bold;
            color: #080b8f;
            font-size: 1rem;
        }
    }
}


.language {
    label {
        cursor: pointer;
    }

    span {
        cursor: pointer;
    }
    cursor: pointer;
    .lang-title{
        font-weight: 500;
    }
}

@media screen and (max-width: 768px) {
    .nav-search-mobile {
        width: 100%;
        margin-left: 0 !important;
    }
}