<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-nav-header></app-nav-header>
      <div class="bg-main">
        <img src="/assets/images/main-bg2.jpg" alt="" class="w-100">
      </div>
      <div class="nav-product-preview d-flex justify-content-center align-items-center">
        <h3 class="text-center">DANH MỤC SẢN PHẨM</h3>
      </div>
      <div class="product d-flex">
        <div class="product-item me-3">
          <img src="/assets/images/xelu.png" alt="" width="100" height="100">
          <p class="product-item-title">Xe Lu</p>
        </div>
        <div class="product-item">
          <img src="/assets/images/xelu.png" alt="" width="100" height="100">
          <p class="product-item-title text-center">Xe Lu</p>
        </div>
      </div>
    </div>
  </div>
</div>